ENV_TYPE="local"

AICOUNTING_ENV_FILE=".env.local"

DJANGO_DEBUG=True
DJANGO_SECRET_KEY="django-insecure"
DJANGO_ALLOWED_HOSTS=[]

CELERY_BROKER_URL="redis://localhost:6379/0"
CELERY_RESULT_BACKEND="redis://localhost:6379/1"

# Gemini
GEMINI_MODEL="gemini-2.0-flash"
GEMINI_API_KEY="AwZ......"

# Openai
OPENAI_API_KEY="sk-........"
OPENAI_PROJECT_ID="proj_...."


# TheAiCounting Azure
AZURE_CLIENT_ID="00..."
AZURE_CLIENT_SECRET="dead-beef..."
AZURE_TENANT_ID="dead-beef..."


AZURE_STORAGE_ACCOUNT_NAME="adlsaicounting"
AZURE_STORAGE_ACCOUNT_KEY="....."
AZURE_CONTAINER_NAME="container"

# Redirection for MSAL
AUTH_REDIRECT_URI="https://..."
APP_REDIRECT_URI="https://..."

# AUTH group from MS Entra
CUSTOMER_GROUP_ID="..."
ACCOUNTANT_GROUP_ID="..."
REVIEWER_GROUP_ID="..."


# Landing AI - client
LANDING_AI_API_KEY="..."
LANDING_AI_ADE_MODEL="dpt-2-latest"

# Logger Paths
LOG_DIR="/var/log/aicounting/"


DOCUMENT_AI_PROJECT_ID="..."
DOCUMENT_AI_LOCATION="..."
DOCUMENT_AI_PROCESSOR_ID="..."
GOOGLE_APPLICATION_CREDENTIALS="..."
